.datepicker { 
	z-index:500; 
	position:relative;
}
#ui-datepicker-div {
background-color:white;
}


#submitbutton {
 position:fixed;
   bottom:0;
   width:95%;
   height:27px;
text-align: center;   
}
