.datepicker { 
	z-index:500; 
	position:relative;
}
#ui-datepicker-div {
background-color:white;
}


#submitbutton {
 position:fixed;
   bottom:0;
   width:95%;
   height:27px;
text-align: center;   
}
.overdue{
color:red;
}

.notoverdue{
color:green;
}

.warning{
color:yellow;
}
#homework-table{
font-size:15px;
font-weight: bold;
}
#Assignments-table{
font-size:15px;
font-weight: bold;
}

#Tests-table{
font-size:15px;
font-weight: bold;
}