.datepicker { 
	z-index:500; 
	position:relative;
}
#ui-datepicker-div {
background-color:white;
}

#homework-table {
font-size:12px;
}
#assignment-table {
font-size:12px;
}
#tests-table {
font-size:12px;
}